<template>
    <div class="<%=dialogName%>">
      <el-dialog
        v-if="isShowDialog"
        class="dialog"
        v-model="isShowDialog"
        title="<%=title%>"
        align-center
        @close="hiddenDialog"
      >
      </el-dialog>
    </div>
  </template>
  <script setup lang="ts" name="<%=dialogName%>">
  // #region ----------------------------导包 start--------------------------------
  
  import usePageDialog from "@/hooks/usePageDialog";
  
  // #endregion ------------------------------导包 end---------------------------
  
  // #region ------------------------------初始化 start-----------------------------
    
  const { isShowDialog, setQuery, hiddenDialog } = usePageDialog();
  
  // #endregion ------------------------------初始化 end-----------------------------
  
  defineExpose({ setQuery });
  </script>
  <style lang="less" scoped>
  @import url("./<%=dialogName%>.less");
  </style>
  